<div class="title-page">
  Educación
</div>
<hr class="size-line">

<div class="grid-container-education">
  <form class="grid-container-form-education" [formGroup]="formEducationData" (ngSubmit)="addEducation()">

    <!-- placeEducation -->

    <div class="grid-input"
      [ngClass]="{'form-validator':placeEducation.errors?.required  && ( placeEducation.dirty || placeEducation.touched)}">
      <span></span>
      <input type="text" placeholder="Lugar de educación" formControlName="placeEducation">
      <span></span>
    </div>
    <span>
      <span *ngIf="placeEducation.errors?.required  && ( placeEducation.dirty || placeEducation.touched)"
        class="input-validator-span">
        El campo es requerido
      </span>
    </span>

    <!-- levelArchived -->

    <div class="grid-input"
      [ngClass]="{'form-validator':levelArchived.errors?.required  && ( levelArchived.dirty || levelArchived.touched)}">
      <span></span>
      <input type="text" placeholder="Nivel logrado" formControlName="levelArchived">
      <span></span>
    </div>
    <span>
      <span *ngIf="levelArchived.errors?.required  && ( levelArchived.dirty || levelArchived.touched)"
        class="input-validator-span">
        El campo es requerido
      </span>
    </span>

    <!-- timeEducation -->

    <div class="grid-input"
      [ngClass]="{'form-validator':timeEducation.errors?.required  && ( timeEducation.dirty || timeEducation.touched) || timeEducation.errors?.minlength}">
      <span></span>
      <input type="text" mask="00" placeholder="Tiempo" formControlName="timeEducation">
      <span></span>
    </div>
    <span>
      <span *ngIf="timeEducation.errors?.required  && ( timeEducation.dirty || timeEducation.touched)"
        class="input-validator-span">
        El campo es requerido
      </span>
      <span *ngIf="timeEducation.errors?.minlength" class="input-validator-span">
        Formato numerico rango de 38
      </span>
    </span>
    <button type="submit" mat-raised-button class="button-add">{{ titleButton }}</button>

  </form>

  <span></span>

  <div class="table-container">
    <table>
      <tr>
        <th>Lugar de educación</th>
        <th>Nivel</th>
        <th>Tiempo</th>
        <th>Acciones</th>
      </tr>
      <tr *ngFor="let item of educationData;let i=index">
        <td>{{ item.placeEducation }}</td>
        <td>{{ item.levelArchived }}</td>
        <td>{{ item.timeEducation | addYear}}</td>
        <td>
          <button type="button" mat-icon-button [matMenuTriggerFor]="afterMenu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #afterMenu="matMenu" xPosition="after" class="customize">
            <button mat-menu-item (click)="setValuesControl(i)">Editar</button>
            <button mat-menu-item (click)="deleteEducation(i)">Borrar</button>
          </mat-menu>
        </td>
      </tr>

    </table>
  </div>
</div>