$base-font: "Poppins", sans-serif;

.grid-container-data {
  margin-left: 41px;
  height: 297px;
  display: grid;
  grid-template-columns: 392px 84px 380px 47px 357px;
}

.size-line {
  width: 1260px;
  text-align: left;
  margin-left: 41px;
  margin-bottom: 34px;
  color: #000000;
}

.grid-container-form-data {
  display: grid;
  grid-template-rows: 37px 15px 37px 15px 37px 15px 37px 15px 37px 15px 37px;
}

::placeholder {
  color: #4f4f4f;
  font-size: 1.2rem;
}

.grid-input {
  display: grid;
  grid-template-columns: 15px 362px 15px;
  border: 1px solid #828282;
  border-radius: 10px;
}

input {
  border-width: 0px 0px;
  outline: none;
}

.grid-container-description-data {
  display: grid;
  grid-template-columns: 17px 346px 17px;
  border: 1px solid #828282;
  box-sizing: border-box;
  border-radius: 10px;
}

textarea {
  border-width: 0px 0px;
  outline: none;
  margin-top: 16px;
}

.grid-container-image-data {
  background: #e0e0e0;
  border: 1px solid #4f4f4f;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}

.image-area img {
  display: block;
  width: 225px;
  height: 225px;
  margin: 0 auto;
  margin: auto;
  margin-top: 30px;
  cursor: pointer;
}

.grid-container-education {
  margin-left: 41px;
  height: 127px;
  display: grid;
  grid-template-columns: 392px 70px 798px;
}

.grid-container-form-education {
  height: 203px;
  display: grid;
  grid-template-rows: 37px 15px 37px 15px 37px 25px 37px;
}
title-page {
  width: 100%;
  font-family: $base-font;
  color: #333333;
  font-size: 24px;
  font-style: normal;
  font-weight: bold;
  line-height: 36px;
  margin-left: 41px;
  margin-right: 0px;
  margin-top: 27px;
  margin-bottom: 5px;
}

.education {
  padding-top: 1px;
  margin-top: 128px;
}

.mat-icon-button {
  margin-left: 10px;
  margin-top: -100px;
  min-width: 0;
  width: 0px;
  height: 0px;
  flex-shrink: 0;
  line-height: 40px;
  border-radius: 0;
  margin-top: -8px;
}

table {
  border-collapse: collapse;
  width: 100%;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #4f4f4f;
}

th {
  text-align: left;
  padding-left: 14px;
  border: 0px 0px;
  border-bottom: 1px solid #000000;
  padding-bottom: 8px;
}

td {
  text-align: left;
  padding-left: 14px;
  padding-top: 18px;
}

::ng-deep .customize {
  background: #f2f2f2;
  border: 1px solid #bdbdbd;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}

.button-save {
  margin-top: 140px;
  margin-bottom: 17px;
  width: 96%;
  display: flex;
  justify-content: flex-end;
}

.button-color-save {
  display: block;
  font-family: $base-font;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  color: white;
  width: 172px;
  height: 37px;
  margin-left: 270px;
  background-color: #2f80ed;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.button-add {
  display: block;
  font-family: $base-font;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  color: white;
  width: 123px;
  height: 37px;
  margin-left: 270px;
  background-color: #2f80ed;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.table-container {
  margin-top: -15px;
  max-height: 250px;
  overflow: auto;
}