<div class="title-page">
  Datos Personales
</div>
<hr class="size-line">

<div class="grid-container-data">

  <form class="grid-container-form-data">
    <div class="grid-input">
      <span></span>
      <input type="text" placeholder="Nombres">
      <span></span>
    </div>
    <span></span>
    <div class="grid-input">
      <span></span>
      <input type="text" placeholder="Apellidos">
      <span></span>
    </div>
    <span></span>
    <div class="grid-input">
      <span></span>
      <input type="text" placeholder="DNI (numerico)">
      <span></span>
    </div>
    <span></span>
    <div class="grid-input">
      <span></span>
      <input type="text" placeholder="Dirección">
      <span></span>
    </div>
    <span></span>
    <div class="grid-input">
      <span></span>
      <input type="text" placeholder="Correo (email)">
      <span></span>
    </div>
    <span></span>
    <div class="grid-input">
      <span></span>
      <input type="text" placeholder="Celular (teléfono)">
      <span></span>
    </div>
    <span></span>
  </form>
  <span></span>
  <div class="grid-container-description-data">
    <span></span>
    <textarea placeholder="Descripción personal" style="resize: none;"></textarea>
    <span></span>
  </div>
  <span></span>
  <div class="grid-container-image-data">
    <div class="image-area">
      <img src="../../../../assets/img/svg/google_icon.svg" alt="">
    </div>
  </div>
</div>


<div class="title-page">
  Educación
</div>
<hr class="size-line">


<div class="grid-container-education">

  <form class="grid-container-form-education">
    <div class="grid-input">
      <span></span>
      <input type="text" placeholder="Lugar de educación">
      <span></span>
    </div>
    <span></span>
    <div class="grid-input">
      <span></span>
      <input type="text" placeholder="Nivel logrado">
      <span></span>
    </div>
    <span></span>
    <div class="grid-input">
      <span></span>
      <input type="text" placeholder="Tiempo">
      <span></span>
    </div>
    <span></span>
    <button type="submit" mat-raised-button class="button-add">Agregar</button>
  </form>

  <span></span>

  <div class="table-container">
    <table>
      <tr>
        <th>Lugar de educación</th>
        <th>Nivel</th>
        <th>Tiempo</th>
        <th>Acciones</th>
      </tr>
      <tr *ngFor="let item of [1,1,1,1,1,1,1,1]">
        <td>Alfreds Futterkiste</td>
        <td>Maria Anders</td>
        <td>Germany</td>
        <td>
          <button type="button" mat-icon-button [matMenuTriggerFor]="afterMenu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #afterMenu="matMenu" xPosition="after" class="customize">
            <button mat-menu-item>Editar</button>
            <button mat-menu-item>Borrar</button>
          </mat-menu>
        </td>
      </tr>

    </table>
  </div>
</div>


<div class="title-page education">
  Lenguajes de Programación
</div>
<hr class="size-line">


<div class="grid-container-education">

  <form class="grid-container-form-education">
    <div class="grid-input">
      <span></span>
      <input type="text" placeholder="Lugar de educación">
      <span></span>
    </div>
    <span></span>
    <div class="grid-input">
      <span></span>
      <input type="text" placeholder="Nivel logrado">
      <span></span>
    </div>
    <span></span>
    <div class="grid-input">
      <span></span>
      <input type="text" placeholder="Tiempo">
      <span></span>
    </div>
    <span></span>
    <button type="submit" mat-raised-button class="button-add">Agregar</button>
  </form>
  <span></span>
  <div class="table-container">
    <table>
      <tr>
        <th>Lugar de educación</th>
        <th>Nivel</th>
        <th>Tiempo</th>
        <th>Acciones</th>
      </tr>
      <tr *ngFor="let item of [1,1,1,1,1,1,1,1]">
        <td>Alfreds Futterkiste</td>
        <td>Maria Anders</td>
        <td>Germany</td>
        <td>
          <button type="button" mat-icon-button [matMenuTriggerFor]="afterMenu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #afterMenu="matMenu" xPosition="after" class="customize">
            <button mat-menu-item>Editar</button>
            <button mat-menu-item>Borrar</button>
          </mat-menu>
        </td>
      </tr>
    </table>
  </div>
</div>

<div class="button-save">
  <button type="button" mat-button class="button-color-save">
    Guardar
  </button>
</div>